/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000
}

/* Header Navigation Styling */
header {
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styling */
.section {
    padding: 50px 0;
    text-align: center;
    background-color: #0f0f0f;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Ask Section Styling */
.ask-section {
    background-color: #232323;
    padding: 50px 0;
}

.ask-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.calendar-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.ask-text {
    text-align: left;
}

.ask-text h2 {
    font-size: 1.8em;
    color: #d3d3d3;
}


.ask-text p {
    font-size: 1.1em;
    color: #d3d3d3;
}

.calendar-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.calendar-link:hover {
    background-color: #555;
}

/* End Ask Section */


/* Interested Section Styling */
.interested-section {
    background-color: #0f0f0f;
    padding: 50px 0;
}

.interested-container {
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.interested-list {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
    color: #333;
}

.interested-list li {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.interested-list li:hover {
    background-color: #555;
}

/* End interested Section */

/* Home Page Styling */
.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.bio {
    max-width: 500px;
    text-align: left;
}

.bio h1 {
    font-size: 2em;
    color: #fff;
}

.bio p {
    font-size: 1.1em;
    color: #fff;
}

/* Contact Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Blog and Tags */
#tags-list {
    list-style: none;
    padding: 0;
}

#tags-list li {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}